# Data Structure Templating and Prelimiary Cleaning Plans

Due to the large nature of the data logged by BackBlaze, a plan to clean, reduce, and condense the data must be created so that an external script or database can be created to make the data more managea
ble.

HDD Data can be found [>>>HERE<<<](https://www.backblaze.com/b2/hard-drive-test-data.html)  
Courtesy of BackBlaze.

In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('/home/tyler/Documents/Hard Drive Project Data/data_Q1_2019/drive_stats_2019_Q1/2019-01-01.csv')
df.shape

(106918, 129)

In [5]:
df.head()

,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,smart_3_normalized,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
0,2019-01-01,Z305B2QN,ST4000DM000,4000787030016,0,111,35673128,NaN,NaN,91.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-01-01,ZJV0XJQ4,ST12000NM0007,12000138625024,0,83,187116872,NaN,NaN,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-01,ZJV0XJQ3,ST12000NM0007,12000138625024,0,73,19599104,NaN,NaN,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-01-01,ZJV0XJQ0,ST12000NM0007,12000138625024,0,81,136943696,NaN,NaN,93.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-01-01,PL1331LAHG1S4H,HGST HMS5C4040ALE640,4000787030016,0,100,0,134.0,103.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Check number of drives
df['serial_number'].nunique()

106918

Nunique() does confirm that each observation is a separate drive.

In [7]:
# Make Capacity a more familiar/readable column
df['capacity_terabytes'] =  (df['capacity_bytes'] / (10**12))

In [8]:
df.head()

,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,smart_3_normalized,...,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw,capacity_terabytes
0,2019-01-01,Z305B2QN,ST4000DM000,4000787030016,0,111,35673128,NaN,NaN,91.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000787
1,2019-01-01,ZJV0XJQ4,ST12000NM0007,12000138625024,0,83,187116872,NaN,NaN,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.000139
2,2019-01-01,ZJV0XJQ3,ST12000NM0007,12000138625024,0,73,19599104,NaN,NaN,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.000139
3,2019-01-01,ZJV0XJQ0,ST12000NM0007,12000138625024,0,81,136943696,NaN,NaN,93.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.000139
4,2019-01-01,PL1331LAHG1S4H,HGST HMS5C4040ALE640,4000787030016,0,100,0,134.0,103.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000787

In [9]:
df['smart_9_raw']

0         26712
1          3753
2           792
3          4356
4         16788
          ...
106913    22513
106914    22185
106915    22350
106916    17517
106917    34497
Name: smart_9_raw, Length: 106918, dtype: int64

In [10]:
df['smart_9_normalized']

0          70
1          96
2         100
3          96
4          98
         ...
106913     97
106914     75
106915     97
106916     98
106917     61
Name: smart_9_normalized, Length: 106918, dtype: int64